.dropdown {
    width: 100%;
    background: white;
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: left;
    color: #215f45;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.20);
}

.dropdown p {
    margin: 8px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.dropdown p:last-child {
    border-bottom: none;
}

.hidden {
    display: none;
}
